.welcomeInfo {
    background: rgb(110, 174, 190);
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#leftButton {
    background-color: rgb(110, 174, 190);
    border: .5px solid black;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    top: 52%;
    left: 23%;
    text-decoration:none;
}

#rightButton {
    background-color: rgb(110, 174, 190);
    border: .5px solid black;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    top: 52%;
    right: 23%;
    text-decoration:none;
}
